<div class="outer-layer">
    <div class="inner-layer">
        <div class="main">
            <div class="d-flex justify-content-center">
                <div style="width: 200px;">
                    <img src="/assets/Meklips-logo-final.png" alt="logo">
                </div>
            </div>
            <div class="d-flex gap-4 justify-content-evenly mt-3">
                <div>
                    <div class="text-center d-block"  >
                        <img class="img" src="/assets/Employee.png" alt="employee" style="width: 200px;">
                    </div>
                    <div class="text-blue text-center mt-3 fw-bold">
                        Employee
                    </div>
                    <div class="text-blue text-center mt-3 fw-bold">
                       Let's Get Started
                    </div>

                    <div class="d-flex justify-content-between align-items-center w-100 gap-4 mt-3">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text mb-2 fs-5">
                                Sign in to continue
                            </div>
                            <button class="btn btn-primary" (click)="advancedView('signup')">
                                Signup
                            </button>
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text mb-2 fs-5">
                                If you already have account
                            </div>
                            <button class="btn btn-primary" (click)="advancedView('login')">
                                Log in
                            </button>
                        </div>
                    </div>
                </div>
                <div class="vr" style="height: 200px; margin-top: 10%;">
            
                </div>
                <div>
                    <div class="text-center d-block"  >
                        <img class="img" src="/assets/Employer.png" alt="employee" style="width: 200px;">
                    </div>
                    <div class="text-blue text-center mt-3 fw-bold">
                        Employer
                    </div>
                    <div class="text-blue text-center mt-3 fw-bold">
                       Let's Get Started
                    </div>

                    <div class="d-flex justify-content-between align-items-center w-100 gap-4 mt-3">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text mb-2 fs-5">
                                Sign in to continue
                            </div>
                            <button class="btn btn-primary disabled" >
                                Signup
                            </button>
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text mb-2 fs-5">
                                If you already have account
                            </div>
                            <button class="btn btn-primary disabled">
                                Log in
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5 fs-5">
                <span class="text">
                    By signing in, you accept our <span class="text-blue cursor-pointer">Terms and Conditions</span>
                </span>
            </div>
        </div>
        
    </div>

</div>

