<div class="loading-overlay" *ngIf="loading">
  <div class="loading"></div>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a class="navbar-brand navbar-brand-autodark"><img src="./assets/Meklips-logo-final.png" height="36" alt=""></a>
        </div>
        <form class="card card-md" action="./" method="get" autocomplete="off" novalidate="" *ngIf="formType == 'EMAIL'">
          <div class="card-body">
            <h2 class="card-title text-center mb-3">Forgot password</h2>
            <p class="text-secondary mb-4 text-center">Enter your email address and an OTP will be sent to your Email</p>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" [(ngModel)]="emailId" name="email" placeholder="Enter email">
            </div>
            <div class="form-footer">
              <button class="btn btn-primary w-100" (click)="forgotPassword()" [disabled]="!emailId">
                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                  <path d="M3 7l9 6l9 -6"></path>
                </svg>
                Send me new password
              </button>
            </div>
          </div>
        </form>
        <form class="card card-md" action="./" method="get" autocomplete="off" novalidate="" *ngIf="formType == 'OTP'">
          <div class="card-body">
            <h2 class="card-title text-center mb-3">Enter OTP</h2>
            <p class="text-secondary mb-4 text-center">Enter the OTP sent to your email address</p>
            <div class="mb-3">
              <label class="form-label required">OTP</label>
              <input type="text" class="form-control" [(ngModel)]="otp" name="otp" placeholder="Enter OTP">
            </div>
            <div class="form-footer">
              <button class="btn btn-primary w-100" (click)="verifyOtp()" [disabled]="!otp">
                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                  <path d="M3 7l9 6l9 -6"></path>
                </svg>
                Verify OTP
              </button>
            </div>
          </div>
        </form>
        <form  class="card card-md" action="./" method="get" autocomplete="off" novalidate="" *ngIf="formType == 'NEW_PASSWORD'">
          <div class="card-body">
            <h2 class="card-title text-center mb-3">Enter New Password</h2>
            <div class="mb-3">
              <label class="form-label required">New Password</label>
              <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password">
            </div>
            <div class="mb-3">
              <label class="form-label required">Confirm Password</label>
              <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm password">
            </div>
            <div class="form-footer">
              <button class="btn btn-primary w-100" (click)="updatePassword()" [disabled]="!newPassword || !confirmPassword">
                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                  <path d="M3 7l9 6l9 -6"></path>
                </svg>
                Update Password
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Forget it, <a class="text-blue cursor-pointer" (click)="goToLogin()">send me back</a> to the sign in screen.
        </div>
    </div>
</div>
