.outer-layer{
    background-color: #E6E7E8;
    width: 100%;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 40px;
}

.card{
    border-radius: 20px !important;
    height: 80vh;
    width: 80vw;
}

#sideNave {
    width: 120px;
    height: 80vh;
    background-color: #6ca2fe;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#main{
    padding-left: 30px;
    padding-right: 30px;
}

.btn{
    width: 150px;
}