.outer-layer{
    background-color: #FFF;
    width: 100%;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .inner-layer{
//     display: flex !important;
//     justify-content: center !important;
//     align-items: center !important;
//     height: 100vh;
//     background-color: #FFF;
//     // background-image: url('/assets/Bg\ 01\ web.svg');
//     // // background-size: contain;
//     // background-size: 100% 100%;
//     // min-height: 90vh;
//     // background-position: center;
//     // background-repeat: no-repeat;
// }

.border-yellow {
    border-color: #f1c40f !important;
}