<div class="loading-overlay" *ngIf="loading">
    <div class="loading"></div>
  </div>
<div class="outer-layer">
    <div class="card d-flex justify-content-center align-items-center border-yellow border-4 px-5" style="height: 99vh;">
        <div class="inner-layer d-flex justify-content-center align-items-center flex-column">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="mb-4">
                    <img src="./assets/me-logo.png" alt="" width="200px">
                </div>
                <div>
                   
                    <div class="text-blue mt-3 text-center fs-1">
                        Log in with Email 
                    </div>
                    <div class="text-center fs-3 mt-1">
                        Login with email address and passord
                    </div>
                    <div class="mb-3 mt-3">
                        <input 
                            type="email" 
                            class="form-control" 
                            name="example-text-input" 
                            placeholder="Email Id" 
                            [(ngModel)]="user.email" 
                            spellcheck="false" 
                            data-ms-editor="true">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password
                            <span class="form-label-description forgot">
                                <a class="cursor-pointer" (click)="goToForgotPassword()"> Forgot password</a>
                              </span>
                        </label>
                        <input 
                            class="form-control" 
                            type="password" 
                            [(ngModel)]="user.password">
                    </div>
                    
                    <button 
                        class="btn dark-blue-bg text-white w-100" 
                        [disabled]="loading"
                        (click)="login()">
                        Login
                    </button>
                </div>
                <div class="mt-4">
                    <img src="./assets/mK-logo.png" alt="logo" width="200px">
                </div>
            </div>
        </div>
    </div>
</div>