<div class="loading-overlay d-flex  flex-column" *ngIf="loader">
    <div class="loading"></div>
    <div class="loading-text"><span class="animated-dots"></span></div>
</div>

<div class="outer-layer">
    <div class="inner-layer d-flex ">
        <div class="card card-container">
            <div class="card-body p-0">
                <div class="d-flex">
                    <div id="sideNave">
                        <div class="side-progress" style="width: 120px;">
                            <ul class="timeline">
                                <li class="timeline-event" >
                                  <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                    <i class="ti ti-user fs-2 text-white"></i>
                                  </div>
                                  <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                    
                                  </div>
                                 
                                </li>
                                <!-- <li class="timeline-event">
                                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                      <i class="ti ti-calendar fs-2 text-white"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                  </li>
                                 -->
                                <li class="timeline-event">
                                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                        <i class="ti ti-highlight fs-2 text-white"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                </li>
                                <li class="timeline-event">
                                    <div class="timeline-event-icon" style="border-radius: 50%;">
                                        <i class="ti ti-check fs-2"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                </li>
                
                              </ul>
                              
                        </div>
                    </div>
                    <div class="w-100 d-flex flex-column justify-content-between">
                        <div id="main" class="d-flex align-items-start justify-content-center w-100">
                            <div class="mt-4 w-100" >
                                <div class="text-center mb-3">
                                    <img src="./assets/mK-logo.png" width="150px" alt="logo">
                                </div>
                                
                                <div class="text-azure fs-3 fw-bold mb-3">
                                   My Highlights
                                </div>
                                <div class="overflow-auto" style="height: calc(100vh - 40vh);">
                                    <div class="m-3">
                                        <div class="row row-cards mb-3">
                                            <div class="col-6" *ngFor="let highlight of candidateHighlightsList; let index = index">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="card-title text-azure mb-3">
                                                            Highlight - {{index + 1}}
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label required">Highlight Title</label>
                                                            <input type="text" class="form-control" name="highlight-title-{{index}}" placeholder="Enter Title" [(ngModel)]="highlight.highlightKey">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label required">Highlight Description</label>
                                                            <textarea class="form-control" name="highlight-description-{{index}}" placeholder="Enter Description" [(ngModel)]="highlight.highlightValue"></textarea>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <i class="ti ti-trash fs-2 text-secondary cursor-pointer" 
                                                               mat-raised-button 
                                                               matTooltip="Clear Highlight" 
                                                               matTooltipPosition="above" 
                                                               (click)="clearHighlight(index)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                
                
                                </div>

                            </div>
                            
                        </div>
                        <div class="mt-3" style="margin-right: 50px;">
                            <div class="d-flex justify-content-end gap-3 mb-4" *ngIf="!editable">
                                <button class="btn" (click)="back()">Back</button>
                                <button class="btn dark-blue-bg text-white" (click)="advancedView()">Next</button>
                                
                            </div>
        
                            <div class="d-flex justify-content-end gap-3 mb-4" *ngIf="editable">
                                <button class="btn" (click)="cancel()">Cancel</button>
                                <button class="btn dark-blue-bg text-white" (click)="updateData()">Update</button>
                                <button class="btn dark-blue-bg text-white" (click)="goToNextPage()">Next</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
