


<div class="loading-overlay" *ngIf="loader">
    <div class="loading"></div>
</div>
<div class="outer-layer">
    <div class="inner-layer d-flex ">
        <div class="card">
            <div class="card-body p-0">
                <div class="d-flex">
                    <div id="sideNave">
                        <div class="side-progress" style="width: 120px;">
                            <ul class="timeline">
                                <li class="timeline-event" >
                                  <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                    <i class="ti ti-user fs-2 text-white"></i>
                                  </div>
                                  <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                    
                                  </div>
                                 
                                </li>
                                <li class="timeline-event">
                                    <div class="timeline-event-icon" style="border-radius: 50%;">
                                        <i class="ti ti-highlight fs-2"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                </li>
                               
                                <li class="timeline-event">
                                    <div class="timeline-event-icon" style="border-radius: 50%;">
                                        <i class="ti ti-check fs-2"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                </li>
                
                              </ul>
                              
                        </div>
                    </div>
                    <div class="main-container ">
                        <div id="main" class="d-flex align-items-start justify-content-center w-100">
                            <div class="mt-2">
                                <div class="text-center mb-2">
                                    <img src="./assets/Meklips-logo-final.png" width="150px" alt="logo">
                                </div>
                                
                                <div class="text-azure fs-3 fw-bold mb-2">
                                    Personal Details
                                </div>
                                <div class="row row-cards mb-2 p-3 pb-0">
                                    <div class="col-12 col-sm-12 col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label required">First Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="candidate.firstName" name="example-text-input" placeholder="Enter Your First Name" spellcheck="false" data-ms-editor="true">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label required">Last Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="candidate.lastName" name="example-text-input" placeholder="Enter Your Last Name" spellcheck="false" data-ms-editor="true">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label required">Email Address</label>
                                            <input type="text" class="form-control" disabled="true" [(ngModel)]="candidate.email" name="example-text-input" placeholder="Enter Your First Name" spellcheck="false" data-ms-editor="true">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label ">Mobile Number</label>
                                            <input type="number" class="form-control" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="candidate.mobile" name="example-text-input" placeholder="Enter Your First Name" spellcheck="false" data-ms-editor="true" min="0">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <label class="form-label required">DOB</label>
                                        <div class="input-icon mb-2">
                                            <input matInput [matDatepicker]="picker" class="form-control" [max]="currentDate" (click)="openDatepicker()" (dateInput)="dob('input', $event)" [(ngModel)]="candidate.dob"  placeholder="Select Date">
                                            <span class="input-icon-addon">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </span>
                                          </div>
                                        
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label ">Gender</label>
                                            <ng-select placeholder="Gender" [(ngModel)]="candidate.gender">
                                                <ng-option value="Male">Male</ng-option>
                                                <ng-option value="Female">Female</ng-option>
                                             </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label ">Address One</label>
                                            <textarea class="form-control" maxlength="250" name="example-textarea-input" rows="2" [(ngModel)]="candidate.streetAddress" placeholder="Enter Your Address" spellcheck="false" data-ms-editor="true"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label ">Address Two</label>
                                            <textarea class="form-control" maxlength="250" name="example-textarea-input" rows="2" [(ngModel)]="candidate.streetAddress2" placeholder="Enter Your Address" spellcheck="false" data-ms-editor="true"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label">City</label>
                                            <input type="text" class="form-control" [(ngModel)]="candidate.city" name="example-text-input" placeholder="Enter Your City" spellcheck="false" data-ms-editor="true">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label">State</label>
                                            <input type="text" class="form-control" [(ngModel)]="candidate.state" name="example-text-input" placeholder="Enter Your State" spellcheck="false" data-ms-editor="true">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col">
                                        <div class="mb-3">
                                            <label class="form-label">Zip Code</label>
                                            <input type="text" class="form-control" [(ngModel)]="candidate.zipCode" name="example-text-input" placeholder="Enter Your Zip Code" spellcheck="false" data-ms-editor="true">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Header 1</label>
                                            <textarea class="form-control" maxlength="100" name="example-textarea-input" rows="2" [(ngModel)]="candidate.professionInfo" placeholder="Enter Your Profession (e.g. Software Engineer)" spellcheck="false" data-ms-editor="true"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Header 2</label>
                                            <textarea class="form-control" maxlength="100" name="example-textarea-input" rows="2" [(ngModel)]="candidate.experienceSummary" placeholder="'I design and develop unique digital experiences that enhance peoples lives and makes the world a better place'" spellcheck="false" data-ms-editor="true"></textarea>
                                        </div>
                                    </div>
                                    
                                </div>
                        
                               
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex justify-content-end gap-3" style="margin-right: 50px; margin-bottom: 50px;" *ngIf="!editable">
                                <button class="btn btn-azure" [disabled]="!validate()" (click)="updateFormData()">Next</button>
                    
                            </div>
                            <div class="d-sm-flex justify-content-end gap-3 button-container" style="margin-right: 50px; margin-bottom: 50px;" *ngIf="editable">
                                <button class="btn" (click)="cancel()">Cancel</button>
                                <button class="btn btn-azure" (click)="updateProfile()">Update</button>
                                <button class="btn btn-azure" (click)="goToNextPage()">Next</button>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>




<!-- <div class="outer-layer">
    <div class="inner-layer d-flex ">
        <div class="row row-cards">
            <div class="col-9">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="d-flex">
                            <div id="sideNave">
                                <div class="side-progress" style="width: 120px;">
                                    <ul class="timeline">
                                        <li class="timeline-event" >
                                          <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                            <i class="ti ti-user fs-2 text-white"></i>
                                          </div>
                                          <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                            
                                          </div>
                                         
                                        </li>
                                        <li class="timeline-event">
                                            <div class="timeline-event-icon" style="border-radius: 50%;">
                                                <i class="ti ti-highlight fs-2"></i>
                                            </div>
                                            <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                              
                                            </div>
                                          
                                        </li>
                                       
                                        <li class="timeline-event">
                                            <div class="timeline-event-icon" style="border-radius: 50%;">
                                                <i class="ti ti-check fs-2"></i>
                                            </div>
                                            <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                              
                                            </div>
                                          
                                        </li>
                        
                                      </ul>
                                      
                                </div>
                            </div>
                            <div class="d-flex justify-content-between flex-column">
                                <div id="main" class="d-flex align-items-start justify-content-center w-100">
                                    <div class="mt-2">
                                        <div class="text-center mb-2">
                                            <img src="./assets/Meklips-logo-final.png" width="150px" alt="logo">
                                        </div>
                                        
                                        <div class="text-azure fs-3 fw-bold mb-2">
                                            Personal Details
                                        </div>
                                        <div class="row row-cards mb-2 p-3 pb-0">
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label required">First Name</label>
                                                    <input type="text" class="form-control" [(ngModel)]="candidate.firstName" name="example-text-input" placeholder="Enter Your First Name" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label required">Last Name</label>
                                                    <input type="text" class="form-control" [(ngModel)]="candidate.lastName" name="example-text-input" placeholder="Enter Your Last Name" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label required">Email Address</label>
                                                    <input type="text" class="form-control" disabled="true" [(ngModel)]="candidate.email" name="example-text-input" placeholder="Enter Your First Name" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label ">Mobile Number</label>
                                                    <input type="number" class="form-control" [(ngModel)]="candidate.mobile" name="example-text-input" placeholder="Enter Your First Name" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <label class="form-label ">DOB</label>
                                                <div class="input-icon mb-2">
                                                    <input matInput [matDatepicker]="picker" class="form-control" [max]="currentDate" (click)="openDatepicker()" (dateInput)="dob('input', $event)" [(ngModel)]="candidate.dob"  placeholder="Select Date">
                                                    <span class="input-icon-addon">
                                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </span>
                                                  </div>
                                                
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label ">Gender</label>
                                                    <ng-select placeholder="Gender" [(ngModel)]="candidate.gender">
                                                        <ng-option value="Male">Male</ng-option>
                                                        <ng-option value="Female">Female</ng-option>
                                                     </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label ">Address One</label>
                                                    <textarea class="form-control" maxlength="250" name="example-textarea-input" rows="2" [(ngModel)]="candidate.streetAddress" placeholder="Enter Your Address" spellcheck="false" data-ms-editor="true"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label ">Address Two</label>
                                                    <textarea class="form-control" maxlength="250" name="example-textarea-input" rows="2" [(ngModel)]="candidate.streetAddress2" placeholder="Enter Your Address" spellcheck="false" data-ms-editor="true"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label">City</label>
                                                    <input type="text" class="form-control" [(ngModel)]="candidate.city" name="example-text-input" placeholder="Enter Your City" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label">State</label>
                                                    <input type="text" class="form-control" [(ngModel)]="candidate.state" name="example-text-input" placeholder="Enter Your State" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col">
                                                <div class="mb-3">
                                                    <label class="form-label">Zip Code</label>
                                                    <input type="text" class="form-control" [(ngModel)]="candidate.zipCode" name="example-text-input" placeholder="Enter Your Zip Code" spellcheck="false" data-ms-editor="true">
                                                </div>
                                            </div>
        
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Header 1</label>
                                                    <textarea class="form-control" maxlength="100" name="example-textarea-input" rows="2" [(ngModel)]="candidate.professionInfo" placeholder="Enter Your Profession (e.g. Software Engineer)" spellcheck="false" data-ms-editor="true"></textarea>
                                                </div>
                                            </div>
        
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Header 2</label>
                                                    <textarea class="form-control" maxlength="100" name="example-textarea-input" rows="2" [(ngModel)]="candidate.experienceSummary" placeholder="'I design and develop unique digital experiances that enhance peoples lives and makes the world a better place'" spellcheck="false" data-ms-editor="true"></textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                
                                       
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="d-flex justify-content-end gap-3" style="margin-right: 50px; margin-bottom: 50px;" *ngIf="!editable">
                                        <button class="btn">Back</button>
                                        <button class="btn btn-azure" [disabled]="!validate()" (click)="updateFormData()">Next</button>
                            
                                    </div>
                                    <div class="d-flex justify-content-end gap-3" style="margin-right: 50px; margin-bottom: 50px;" *ngIf="editable">
                                        <button class="btn" (click)="cancel()">Cancel</button>
                                        <button class="btn btn-azure" (click)="updateProfile()">Update</button>
                                        <button class="btn btn-azure" (click)="goToNextPage()">Next</button>
                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3">
                <app-profile-preview [candidate]="candidate"></app-profile-preview>
            </div>
        </div>
    </div>
</div>  -->