<div class="loading-overlay" *ngIf="loader">
    <div class="loading"></div>
</div>
<div class="loading-overlay d-flex  flex-column" *ngIf="videoLoader">
    <div class="loading"></div>
    <div class="loading-text">{{loaderMessage}} <span class="animated-dots"></span></div>
</div>
<!-- <div class="outer-layer">
    <div class="inner-layer d-flex ">
        
        <div class="side-progress">
            <ul class="timeline">
                <li class="timeline-event" >
                  <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                    <i class="ti ti-user fs-2 text-white"></i>
                  </div>
                  <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                    
                  </div>
                 
                </li>
                <li class="timeline-event">
                  <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                    <i class="ti ti-calendar fs-2 text-white"></i>
                  </div>
                  <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                    
                  </div>
                
                </li>
                <li class="timeline-event">
                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                        <i class="ti ti-file fs-2 text-white"></i>
                    </div>
                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                      
                    </div>
                  
                </li>
                <li class="timeline-event">
                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                        <i class="ti ti-list fs-2 text-white"></i>
                    </div>
                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                      
                    </div>
                  
                </li>
                <li class="timeline-event">
                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                        <i class="ti ti-check fs-2 text-white"></i>
                    </div>
                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                      
                    </div>
                  
                </li>

              </ul>
              
        </div>
        
        
    </div>
</div> -->


<div class="outer-layer">
    <div class="inner-layer d-flex ">
        <div class="card card-container">
            <div class="card-body p-0">
                <div class="d-flex">
                    <div id="sideNave">
                        <div class="side-progress" style="width: 120px;">
                            <ul class="timeline">
                                <li class="timeline-event" >
                                  <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                    <i class="ti ti-user fs-2 text-white"></i>
                                  </div>
                                  <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                    
                                  </div>
                                 
                                </li>
                                <li class="timeline-event">
                                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                      <i class="ti ti-calendar fs-2 text-white"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                  </li>
                               
                                <li class="timeline-event">
                                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                        <i class="ti ti-highlight fs-2 text-white"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                </li>
                                <li class="timeline-event">
                                    <div class="timeline-event-icon bg-yellow" style="border-radius: 50%;">
                                        <i class="ti ti-check fs-2 text-white"></i>
                                    </div>
                                    <div class="card timeline-event-card" style="height: 50px; visibility: hidden;">
                                      
                                    </div>
                                  
                                </li>
                
                              </ul>
                              
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="w-100 d-flex flex-column justify-content-between">
                            <div id="main" class="d-flex align-items-start justify-content-center w-100">
                                <div class="mt-4 w-100" >
                                    <div class="text-center mb-3">
                                        <img src="./assets/Meklips-logo-final.png" width="150px" alt="logo">
                                    </div>
                                    
                                    <div class="text-azure fs-3 fw-bold mb-3">
                                        Profile Summary
                                    </div>
                                   

                                  
                                    <div class="text-azure fs-3 fw-bold mb-1 ms-3">
                                        Congrats, {{candidate.firstName}} You're almost there!
                                    </div>
                                    <div class="text-azure fs-3 fw-bold mb-3 ms-3">
                                        Remember... be authentic, be genuine, and above all, be <span class="text-yellow fs-3">You</span>
                                    </div>
    
                                    <div class="overflow-auto ms-3" style="height: calc(100vh - 50vh);">
                                        <div class="d-flex gap-5 align-items-center mb-4">
                                            <div >
                                                <label class="form-label ">Upload Profile Picture</label>
                                                <ngx-dropzone (change)="imageSelect($event)" style="height: 100%; width: fit-content;" accept="image/jpeg,image/jpg,image/png,image/gif">
                                                    <ngx-dropzone-label style="padding: 20px;">Upload Profile Picture Here</ngx-dropzone-label>
                                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  *ngFor="let f of imageFile" [file]="f" [removable]="true" (removed)="onRemoveImage(f)">
                                                        
                                                    </ngx-dropzone-image-preview>
                                                </ngx-dropzone>
                                            </div>
                                            <div >
                                                <label class="form-label ">Upload a Profile Video</label>
                                                <ngx-dropzone (change)="videoSelect($event)" style="height: 100%; width: fit-content;" accept="video/*">
                                                    <ngx-dropzone-label style="padding: 20px;">Upload Profile Video Here</ngx-dropzone-label>
                                                    <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of videoFile" [file]="f" [removable]="true" (removed)="onRemoveVideo(f)">
                                                        
                                                    </ngx-dropzone-video-preview>
                                                    
                                                </ngx-dropzone>
                                            </div>
                                        </div>

                                        <!-- <div class="profile-image-wrapper" *ngIf="candidate?.dpId">
                                            <label class="form-label">Current Profile Picture</label><br>
                                            <img
                                              [src]="'https://api.meklips.com/media/user_images/' + candidate.dpId"
                                              alt="Profile Picture"
                                              class="rounded-circle"
                                              width="120"
                                              height="120"
                                            />
                                          </div>
                                          
                                          <div>
                                            <label class="form-label mt-3">Upload New Profile Picture</label>
                                            <ngx-dropzone
                                              (change)="imageSelect($event)"
                                              style="height: 100%; width: fit-content;"
                                              accept="image/jpeg,image/jpg,image/png,image/gif"
                                            >
                                              <ngx-dropzone-label style="padding: 20px;">
                                                Drag or click to upload
                                              </ngx-dropzone-label>
                                          
                                              <ngx-dropzone-image-preview
                                                *ngFor="let f of imageFile"
                                                [file]="f"
                                                [removable]="true"
                                                (removed)="onRemoveImage(f)"
                                              ></ngx-dropzone-image-preview>
                                            </ngx-dropzone>
                                        </div> -->
                                          

                                        
                                        <div class="card mb-3 w-75">
                                            <div class="card-body">
                                                <div class="text-azure mb-1">
                                                    Now Let's add your Summary
                                                </div>
                                                <div class="text fs-5 fw-bold mb-3">
                                                    Will shown as your highlight Summary
                                                </div>
                                                <textarea class="form-control" maxlength="250" name="example-textarea-input" rows="5" [(ngModel)]="candidate.experienceSummary" placeholder="'I design and develop unique digital experiances that enhance peoples lives and makes the world a better place'" spellcheck="false" data-ms-editor="true"></textarea>
                                            </div>
                                        </div>
                                      
                    
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mt-3" style="margin-right: 50px;" *ngIf="!editable">
                                <div class="d-flex justify-content-end gap-3 mb-4" *ngIf="!isDataSaved">
                                    <button class="btn" (click)="back()">Back</button>
                                    <button class="btn btn-azure" (click)="advancedView()">Finish</button>
                                    
                                </div>
            
                                <div class="d-flex justify-content-end gap-3 mb-4" *ngIf="isDataSaved">
                                    <button class="btn" (click)="back()">Back</button>
                                    <button class="btn btn-azure" (click)="profileView()">Go to Profile</button>
                                    
                                </div>
                            </div>
                            <div class="mt-3" style="margin-right: 50px;" *ngIf="editable">
                                <div class="d-flex justify-content-end gap-3 mb-4" *ngIf="!isDataSaved">
                                    <button class="btn" (click)="cancel()">Cancel</button>
                                    <button class="btn btn-azure" (click)="updateProfile()">Update</button>
                                    
                                </div>
            
                               
                            </div>
                        </div>
                       
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
