<div class="outer-layer">
    <div class="inner-layer d-flex justify-content-center align-items-center flex-column">
        <div>
            <img src="./assets/sucessfull account creation.svg" alt="image" width="100px">
        </div>
        <div class="text fs-5 mb-1">
            Your password has been set
        </div>
        <div class="text-white fs-3 mb-3">
            Successfully
        </div>
        <button class="btn btn-yellow text-black fs-5" style="background-color: #FEBE10; width: 200px; border: none;" (click)="advancedView()">
            Complete Your Profile
        </button>
    </div>
</div>