.btn-close {
    --tblr-btn-close-focus-shadow: none !important;
}

.btn-close-fullscreen {
    --tblr-btn-close-focus-shadow: none !important;
    transition: all 0.3s ease;
}

.btn-close-fullscreen:hover {
    background: rgba(0,0,0,0.9) !important;
    transform: scale(1.1);
}

:host ::ng-deep .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: unset;
  width: auto;
}

:host ::ng-deep .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}