<div id="main" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <button type="button" class="btn-close" (click)="dismissModal()"></button>
    <video #videoPlayer 
           style="border-radius: 14px; object-fit: contain; max-height: 90vh; max-width: 90vw;"
           controls *ngIf="videoUrl">
        <source [src]="videoUrl" type="video/mp4">
        <source [src]="videoUrl" type="video/ogg">
        Your browser does not support HTML video.
    </video>
</div>