@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";



* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// body{font-family: 'Poppins', sans-serif!important;
//     font-family: 'Merriweather', serif;
//     font-size: 14px;
// }
html, body { height: 100%; }
body { margin: 0;  font-family: "Inter", sans-serif; }

.fw-bold{
	font-weight: 500 !important;
}
.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	/* Add blur effect */
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #00a948;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	z-index: 9999;

}

.loading-text {
	color: #000000;
	font-size: 14px;
	margin-top: 10px;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.muted-semi-bold{
	color: #818AA9;
	font-weight: 600;
}
.white-semi-bold{
	color: #FFFFFF;
	font-weight: 600;
}
.black-1{
	color: #021552;
}
.white-1{
	color: #FFFFFF;
}
.bold-blue{
	color: #021552;
	font-weight: 700;
}

.video-modal-no-bg .modal-content {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
}

.video-modal-no-bg .modal-dialog {
  max-width: unset !important;
  width: auto !important;
  margin: 0 auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dark-blue{
	color: #002f72;
}
.dark-blue-bg{
	background-color: #002f72;
}

.light-blue{
	color: #001848;
}